@reference "tailwindcss";

#root {
  max-width: clamp(1280px, 90vw, 1920px);
  margin: 0 auto;
  text-align: center;
  @apply px-0;
}

@media (pointer: fine) {
  #root {
    @apply px-[clamp(1rem,4vw,8rem)];
  }
}
